<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to the Community!</h1>
    <% if(users.length){ %>
    <ul>
        <%users.forEach(function(user){ %>
          <li>
            <a href="/explore/<%=user._id%>"><p><%=user.username %></p></a>
          </li>
        <%});%>
      </ul>
      <%}else{%>
      <p>There are no users yet.</p>
    <%}%>
    <form action="/views/users/index.ejs" method="POST"></form>
</body>
</html>